# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# OS Stuff
.DS_Store
build
docs/.vitepress/cache
docs/.vitepress/dist
node_modules# Added automatically by ‘eldev init’.
/.eldev
/Eldev-local
/node_modules/
