# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# OS Stuff
.DS_Store
build
docs/.vitepress/cache
docs/.vitepress/dist
node_modules# Added automatically by ‘eldev init’.
/.eldev
/Eldev-local
/node_modules/
/docs/cv/shanekpanter.aux
/docs/cv/shanekpanter.log
/docs/cv/shanekpanter.out
/docs/cv/shanekpanter.bbl
/docs/cv/shanekpanter.bcf
/docs/cv/shanekpanter.blg
/docs/cv/shanekpanter.fdb_latexmk
/docs/cv/shanekpanter.fls
/docs/cv/shanekpanter.run.xml
docs/cv/shanekpanter.synctex.gz
